@model IEnumerable<CareerCloud.Pocos.ApplicantProfilePoco>

@{
    ViewData["Title"] = "Applicant Profile";
}

    <h1>Applicant Profile</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemCountryCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecurityLogin.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SystemCountryCode.Code)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <hr />
                    <a asp-controller="ApplicantEducation" asp-action="Index" 
                       asp-route-id="@item.Id">Education</a>|
                    <a asp-controller="ApplicantResume" asp-action="Index" 
                       asp-route-id="@item.Id">Resume</a>|
                    <a asp-controller="ApplicantSkill" asp-action="Index" 
                       asp-route-id="@item.Id">Skills</a>|
                    <a asp-controller="ApplicantWorkHistory" asp-action="Index" 
                       asp-route-id="@item.Id">Work History</a>|
                    <a asp-controller="ApplicantJobApplication"
                       asp-action="Index" asp-route-id="@item.Id">Job Application</a>

                </td>
            </tr>

        }
    </tbody>
</table>
